@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<AKButton Text="First Primary Button" Icon="heart"/>
<AKButton Text="Secondary Button" ButtonStyle="ButtonStyle.Secondary" Icon="like"/>
<AKButton Text="Outlined Button" ButtonStyle="ButtonStyle.Outlined" />
<AKButton Text="First Primary Button" Icon="heart" IsDisabled="true" Class="mt-4" Style="border: 3px solid orange;"/>
<AKButton Text="Outlined Button" ButtonStyle="ButtonStyle.Outlined" IsFullWidth="true"/>

<AKButton />